/* ----------fonts----------- */
/* chinese */
h1{
  font-family: 'Noto Serif SC', serif;
  position: relative;
  margin-top: 10vh;
  color: #9BB4EB;
  opacity: 0.2;
}

/* title */
h2{
  font-family: 'Crimson Text', serif;
  color: #253C70;
  position: relative;
}

h5{
  font-family: 'Crimson Text', serif;
  color: #253C70;
}

/* paragraphs and footer */
h6{
  font-family: 'Lato', sans-serif;
  color: #FFFFFF;
}

a{
  font-family: 'Crimson Text', serif;
}

#highlight{
  color: #9BB4EB;
}

/* ---------- Media Queries ---------- */
/*  Extra small devices (less than 576 px)*/
@media (min-width: 0px) {
  h1{
    font-size: 50px;
    padding-left: 4vw;
  }
  h2{
    font-size: 30px;
    top: -15px;
  }
  h5{
    font-size: 14px;
  }
  h6{
    font-size: 13px;
    line-height: 1.5;
  }
  a{
    font-size: 16px;
  }
  footer a{
    font-size: 13px;
    line-height: 1.5;
  }
  .title-text{
    padding-left: 5vw;
    padding-right: 3vw;
  }
}

/* xs-s */
@media (min-width: 510px) {
  h1{
    font-size: 60px;
  }
  h2{
    font-size: 34px;
    top: -20px;
  }
  h5{
    font-size: 15px;
  }
}


/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  h1{
    font-size: 75px;
  }
  h2{
    font-size: 40px;
    top: -25px;
  }
  h6{
    font-size: 14px;
    line-height: 1.5;
  }
  footer a{
    font-size: 14px;
    line-height: 1.5;
  }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1{
    font-size: 80px;
  }
  h2{
    font-size: 50px;
  }
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1{
    font-size: 80px;
  }
  h2{
    font-size: 55px;
  }
  h5{
    font-size: 14px;
  }
  a{
    font-size: 16px;
  }
  .title-text{
    padding-left: 7vw;
    padding-right: 8vw;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  h1{
    font-size: 90px;
  }
  h2{
    font-size: 60px;
  }
  a{
    font-size: 16px;
  }
 }


/* ----------navbar----------- */
.navbar {
  background-color: rgba(255,255,255,0.7);
  backdrop-filter: blur(4px);
  font-size: 20px;
  max-height: 50px;
}

.custom-toggler.navbar-toggler {
    border-color: #FFFFFF;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(37,60,112)' stroke-width='4' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.logo{
  height: auto;
  max-width: 50%;
}

.nav-link {
  color: #000000;
}

.nav-link:hover {
  color: #9BB4EB;
}

.nav-link.active{
  color: #253C70;
  font-weight: 300;
  text-shadow: 0px 0px 1px #9BB4EB;
}

/* ----------title---------- */
.title-text{
  margin-bottom:10vh;
}

/* ----------arrow---------- */
.arrow{
  padding: 10vh;
}
.arrow img{
  max-height: 6vh;
}

/* ----------project---------- */
.project{
  max-width: 100vw;
}

.project img{
  max-width: 75vw;
}

/* ----------footer----------- */
footer{
  background-color: #253C70;
  color: #FFFFFF;
}

footer a{
  font-family: 'Lato', sans-serif;
  color: #C4D7FF;
}

footer .email{
  color: #FFFFFF;
}

footer a:hover{
  color: #9BB4EB;
  text-decoration: none;
}

.footer-icons img{
  display: block;
  max-height: 4vh;
  width: auto;
}

.dot{
  height: 0.75vh;
  width:0.75vh;
  border-radius: 50%;
  display: inline-block;
  background-color: #FFFFFF;

}
