/* -------fonts-------- */
/* chinese */
h1{
  font-family: 'Noto Serif SC', serif;
  font-size: 100px;
  position: relative;
  left: 40px;
  color: #9BB4EB;
  opacity: 0.2;
}

/* title */
h2{
  font-family: 'Crimson Text', serif;
  color: #253C70;
  font-size: 60px;
  position: relative;
  top: -30px;
}

/* paragraphs and footer */
h6{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
}

#highlight{
  color: #9BB4EB;
}


/* -------footer-------- */
footer{
  background-color: #253C70;
  color: #FFFFFF;
}
