/* -------fonts-------- */
/* chinese */
h1{
  font-family: 'Noto Serif SC', serif;
  font-size: 100px;
  position: relative;
  left: 40px;
  color: #9BB4EB;
  opacity: 0.2;
}

/* title */
h2{
  font-family: 'Crimson Text', serif;
  color: #253C70;
  font-size: 60px;
  position: relative;
  top: -30px;
}

/* paragraphs and footer */
h6{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
}

a{
  font-family: 'Crimson Text', serif;
  font-size: 16px;
}

#highlight{
  color: #9BB4EB;
}


/* -------navbar-------- */
nav {
  background-color: rgba(250,255,255,0.7);
  font-size: 20px;
  max-height: 8vh;
}

.logo{
  display: block;
  max-height: 5vh;
  width: auto;
}

.nav-link {
  color: #000000;
}

.nav-link:hover {
  color: #9BB4EB;
}

.nav-link.active{
  color: #253C70;
  font-weight: 300;
  text-shadow: 0px 0px 1px #9BB4EB;
}

/* -------footer-------- */
footer{
  background-color: #253C70;
  color: #FFFFFF;
}
