/* ---------- Media Queries ---------- */
/*  Extra small devices (less than 576 px)*/
@media (min-width: 0px) {
  h1{
    font-size: 50px;
    padding-left: 4vw;
  }
  h2{
    font-size: 30px;
    top: -15px;
  }
  h3{
    font-size: 20px;
  }
  h3 span{
    font-size: 15px;
  }
  h4{
    font-size: 14px;
  }
  h5{
    font-size: 14px;
  }
  h6{
    font-size: 12px;
    line-height: 1.5;
  }
  p, li{
    font-size: 15px;
    line-height: 1.5;
  }
  a{
    font-size: 16px;
  }
  footer a{
    font-size: 12px;
    line-height: 1.5;
  }
  .title{
    flex-direction: column;
  }
  .title-text, .case-study{
    padding-left: 5vw;
    padding-right: 3vw;
  }
}

/* xs-s */
@media (min-width: 510px) {
  h1{
    font-size: 60px;
  }
  h2{
    font-size: 34px;
    top: -20px;
  }
  h3{
    font-size: 26px;
  }
  h3 span{
    font-size: 20px;
  }
  h4{
    font-size: 16px;
  }
  h5{
    font-size: 15px;
  }
  .title{
    flex-direction: column;
  }
}


/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  h1{
    font-size: 75px;
  }
  h2{
    font-size: 40px;
    top: -25px;
  }
  h6{
    font-size: 13px;
    line-height: 1.5;
  }
  p, li{
    font-size: 15px;
    line-height: 1.6;
  }
  footer a{
    font-size: 13px;
    line-height: 1.5;
  }
  .title{
    flex-direction: column;
  }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1{
    font-size: 80px;
  }
  h2{
    font-size: 50px;
  }
  h3{
    font-size:30px;
  }
  h3 span{
    font-size: 22px;
  }
  h4{
    font-size: 17px;
  }
  .title{
    flex-direction: row;
    padding-bottom: 5;
  }
  .title img{
    width: 40%;
    padding-top: 5em;
  }
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1{
    font-size: 80px;
  }
  h2{
    font-size: 55px;
  }
  h5{
    font-size: 14px;
  }
  a{
    font-size: 18px;
  }
  .title-text, .case-study{
    padding-left: 7vw;
    padding-right: 8vw;
  }
  .title{
    flex-direction: row;
    padding-bottom: 5;
  }
  .title img{
    width: 30%;
    padding-top: 5em;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  h1{
    font-size: 90px;
  }
  h2{
    font-size: 60px;
  }
  a{
    font-size: 16px;
  }
  .title{
    flex-direction: row;
    padding-bottom: 5;
  }
 }
