<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>About — Kylee Peng</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/media_queries.css">
  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-md fixed-top d-flex align-items-center">
      <a class="navbar-brand mr-auto" href='index.html'>
        <img src="../img/logo_dark.svg" class="d-inline-block align-top logo img-responsive ml-2">
      </a>
      <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#dropdown" aria-controls="dropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-grow-0" id="dropdown">
        <div class="navbar-nav text-right">
          <a class="nav-item nav-link m-2" href="../index.html">Home</a>
          <a class="nav-item nav-link m-2" href="projects.html">Projects</a>
          <a class="nav-item nav-link m-2 active" href="about.html">About<span class="sr-only">(current)</span></a>
        </div>
      </div>
    </nav>

    <!-- title -->
    <div class="title d-flex vh-75 mt-4 mb-5 align-self-center justify-content-center" data-aos="fade-up" data-aos-duration="1000">
      <div class="title-text align-self-center justify-content-center pt-5">
        <h1>掌聲有請</h1>
        <h2>Sup!</h2>
        <p class='title-paragraph mb-3'>
          I’m a Taiwan born, Shanghai raised, San Diego based
          <span id='bold'>UI/UX designer</span>,
          currently studying
          <span id='bold'>HCI and Data Science</span> at UC San Diego. I hope to create
          data-driven approaches to craft a better experience.
        </p>
        <p class='title-paragraph mb-3'>
          I believe that my projects and my knowledge in the design field is a constant
          work in progress— there’s always more room for learning and improvement.
        </p>
        <p class='title-paragraph mb-3'>
          When I’m not working on a project, I find excitement in travelling,
          watching anime, obsessing over cute babies and dogs, and taking naps.
        </p>
      </div>
      <img src='../img/about_picture.svg' class='px-5 pb-5 mr-5 img-responsive'>
    </div>


    <!-- footer -->
    <footer class="footer mx-auto py-3 text-center position-absolute mt-5 py-5 vw-100" data-aos="fade-up" data-aos-duration="1000">
      <div class='container col-lg-8 col-sm-10 d-flex flex-column justify-content-center'>
        <h6 class='mt-5 mb-1'>The iterative nature of design has taught me that there’s never a finished product— only a work in progress.</h6>
        <h6 class='mb-3'>Let me know how I can improve on my work.</h6>
        <a class='email mt-3' href='mailto:kap038@ucsd.edu'>kap038@ucsd.edu</a>
        <div class='footer-icons mb-3 mt-2 d-flex align-items-center justify-content-center'>
          <a class='mx-2' href='https://github.com/kyleepeng'>Github</a>
          <span class="dot"></span>
          <a class='mx-2' href='www.linkedin.com/in/kylee-peng'>LinkedIn</a>
          <span class="dot"></span>
          <a class='mx-2' href='mailto:kap038@ucsd.edu'>Email</a>
        </div>
        <h6 class='mb-5 my-3'>Designed & developed by Kylee Peng</h6>
      </div>
    </footer>

  </body>

  <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="../js/script.js"></script>

</html>
