<!DOCTYPE html>
<html lang="en">
  <head>

    <title></title>
    <!-- CSS -->
    <!-- JS -->

  </head>
  <body>
    <!-- navbar -->
    <header class="navbar">
      <img src="#">
      <div id="navlink">
        <a href="index.html">Work</a>
        <a href="about.html">About</a>
        <a href="experience.html">Experience</a>
        <a href="#" id="resume">Resume</a>
      </div>
    </header>

    <!-- container for rest of page -->
    <div class="container">
      <div class="header">
        <h2>Hello</h2>
        <h1>你好</h1>
      </div>
    </div>

    <!-- footer -->
    <div class="footer">
      <img src="#">
      <a><img src="#">Github</a>
      <a><img src="#">LinkedIn</a>
      <a><img src="#">Instagram</a>
      <h6>I'm constantly looking for feedback about my designs. Shoot me an email at <a>kap038@ucsd.edu</a> and let me know how I can improve. </h6>
      <h6>Created with ❤️ and a lot of ice cream.</h6>
    </div>
    
  </body>
</html>
