<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light justify-content-end">
      <a class="navbar-brand mr-auto" href='index.html'>
        <img src="#" class="d-inline-block align-top">
        Kylee Peng
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dropdown" aria-controls="dropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-grow-0" id="dropdown">
        <div class="navbar-nav text-right">
          <a class="nav-item nav-link" href="work.html">Work</a>
          <a class="nav-item nav-link" href="about.html">About</a>
        </div>
      </div>
    </nav>

    <!-- page container -->
    <!-- <div class="container">
      <div class="title">
        <h2>Hello! I'm Kylee,</h2>
        <h2>and I design <span id="highlight">empathetic solutions.</span></h2>
        <h1>歡迎光臨</h1>
      </div>

      <div class="arrow">
        <h5>SELECTED WORKS</h5>
        <img src="#" id='arrow'>
      </div>

      <div class="project">
        <div class="blue_banner">
          <div class="white_banner">
            <h3>Medical Accessibility in Tijuana</h3>
            <h4>UI/UX, FRONT END DEVELOPMENT</h4>
          </div>
        </div>
        <div class="blue_banner">
          <img src="#">
        </div>
      </div>

      <div class="project">
        <div class="blue_banner">
          <div class="white_banner">
            <h3>Medical Accessibility in Tijuana</h3>
            <h4>UI/UX, FRONT END DEVELOPMENT</h4>
          </div>
        </div>
        <div class="blue_banner">
          <img src="#">
        </div>
      </div>
    </div>

    <a class="square_button">SEE ALL WORKS</a> -->


    <!-- footer -->
    <!-- <div class="footer">
      <img src="#">
      <a><img src="#">Github</a>
      <a><img src="#">LinkedIn</a>
      <a><img src="#">Instagram</a>
      <h6>footer text footer text</h6>
      <a>kap038@ucsd.edu</a>
      <h6>more text</h6>
    </div> -->

  </body>

  <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="js/script.js"></script>

</html>
