<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EMR — Kylee Peng</title>
    <!-- CSS -->
    <link rel="icon" href="../../img/logo_dark.png" type="png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/media_queries.css">
  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand fixed-top d-flex align-items-center">
      <a class="navbar-brand mr-auto" href='../../index.html'>
        <img src="../../img/logo_dark.svg" class="d-inline-block align-top logo img-responsive ml-2">
      </a>
      <div class="navbar-nav text-right">
          <a class="nav-item nav-link m-2 active" href="../../index.html">Home</a>
          <a class="nav-item nav-link m-2" href="../about.html">About<span class="sr-only">(current)</span></a>
      </div>
    </nav>

    <!-- title -->
    <div class="proj-title container" data-aos="fade-up" data-aos-duration="1000">
      <div class="title-text my-5 pt-5">
        <h1> </h1>
        <h2>Medical Accessibility in Tijuana</h2>
        <h4><span id='highlight' class='pt-3'>Improving Healthcare through Design</span></h4>
    </div>
    </div>

    <!-- background -->
    <div class="container background project-banner d-flex"
     style="background-color: #f2f5ff; box-shadow: 10px 10px #abd1ff;"
     data-aos="fade-up"
     data-aos-duration="1000">
     <div class='row'>
      <div class='d-flex flex-column col-md-7 col-sm-11 my-5 py-2'>
        <h3>Background</h3>
        <p class='mt-3'>
          International Health Collective (IHC) runs pop-up clinics in Tijuana
          that stores medical records on pen and paper. As a year long side
          project, my team and I set out to make the slow and
          problematic pen and paper system into a better clinic experience,
          resulting in positive feedback from all the volunteers.
          My role in this project as a product/ UX designer allowed me to better
          understand how the clinic runs and how doctors, volunteers and
          patients, could better interact with our prototype.
        </p>
      </div>
        <img src='../../img/proj_dfamedical.png' class='col-md-5 col-sm-11 mt-2 img-fluid'>
      </div>
    </div>

    <!-- content -->
    <div class='container d-flex flex-column align-items-center'>

      <!-- problem -->
      <div class='section col-lg-10 col-sm-12 d-flex flex-column justify-content-center my-5 py-2' data-aos="fade-up" data-aos-duration="1000">
        <h3>The Problem</h3>
        <h4 class='pt-2'>Pen and Paper is Slow and Inefficient</h4>
        <p class='mt-3'>
          Currently, the clinic writes everything down by <span>paper and pen</span>
          due to lack of internet. However, this slows the process and
          <span>delays treating</span> as many patients as possible. If the
          clinic’s goal is to provide as many medical services as possible,
          then we need to have a more effective system.
        </p>
        <div class='images-grid row justify-self-center'>
          <img src='../../img/dfa_med/dfa_med_clinic.png' class='col-4 mt-4 img-fluid'>
          <img src='../../img/dfa_med/dfa_med_clinic2.png' class='col-4 mt-4 img-fluid'>
          <img src='../../img/dfa_med/dfa_med_clinic3.png' class='col-4 mt-4 img-fluid'>
        </div>
      </div>

      <!-- our role -->
      <div class='section col-lg-10 col-sm-12 d-flex flex-column justify-content-center my-5 py-2' data-aos="fade-up" data-aos-duration="1000">
        <h3>My Team's Role</h3>
        <h4 class='pt-2'>Redesigning an Electronic Medical Record System</h4>
        <p class='mt-3'>
          Our role was to enhance the overall flow of the clinic to help empower
          student assistants and medical professionals. To speed up the clinical
          process, our main objective was to understand the clinic's work and
          how to best digitize this process. We wanted the clinic to treat more
          patients as efficiently as possible, while ensuring a smooth
          transition from paper to tablet.
        </p>
        <p class='mt-3'>
          With a cross collaboration with Triton Software Engineering (TSE) and
          IHC, we decided to build a Electronic Medical Records (EMR) application
          that is to be used on tablets at the clinic. Our main goal is to provide medical
          services to people who have barriers to health in unprivileged communities.
        </p>
        <p class='mt-3'>
          My contributions in the project include wireframing and prototyping the
          application, conducting usability tests on the app, and supporting front-end
          development using React-Native.
        </p>
      </div>

      <!-- interviews -->
      <div class='section col-lg-10 col-sm-12 d-flex flex-column justify-content-center my-5 py-2' data-aos="fade-up" data-aos-duration="1000">
        <h3>Understanding Current Challenges</h3>
        <h4 class='pt-2'>Learning Current Clinic Challenges & Assessing the Existing EMR App</h4>
          <p class='mt-3'>
            Before we could dive into the redesign of the current EMR made by TSE,
            we needed to get feedback from IHC clinic volunteers on the look and
            feel of the existing application. We conducted <span>five user interviews</span>,
            each an hour long. Through this process, we were able to identify the main pain points of
            the EMR as well as what users most wanted to see.
          </p>
          <p class='mt-3'>
            Here were the people we interviewed:
          </p>
          <img src='../../img/dfa_med/dfa_med_interviews.png' class='col-md-10 col-sm-12 align-self-center mx-3 mt-3'>
          <p class='mt-3'><span>Insights:</span></p>
          <p>
            <li class='mt-1'>
              We learned about the unique workflow at each
              clinic and were able to trace out a <span>patient's entire journey</span> from
              check-in to receiving prescriptions.
            </li>
            <li class='mt-1'>
              We empathized with some <span>issues with using paper documents</span>:
              <ul class='pl-md-5 pl-sm-3'>
                <li>documentation is often illegible </li>
                <li>easy to lost files and heavy to transport, </li>
                <li>conversion errors (is a weight of 80 in kilograms or pounds?), </li>
                <li>difficulty in looking up patient histories.</li>
              </ul>
            </li>
            <li class='mt-1'>
              We identified some <span>pain points with the existing application</span>:
              <ul class='pl-md-5 pl-sm-3'>
                <li>triage forms are too long and equally as inefficient to fill in</li>
                <li>ambiguity in what values to enter</li>
                <li>buttons are misleading, people didn't know which page to perform certain vital tasks</li>
                <li>certain features are unnecessary for different roles around the clinic</li>
              </ul>
            </li>
          </p>
      </div>

      <!-- how can we -->
      <div class='section col-lg-10 col-sm-12 d-flex flex-column justify-content-center my-5 py-2' data-aos="fade-up" data-aos-duration="1000">
        <h3>How Might We..?</h3>
        <h4 class='pt-2'>Better Frame the Issue?</h4>
        <p class='mt-3'>
          To solve these problems, my team and I started the design process by
          asking these questions:
          <li class='mt-1'>
            How might we create a meaningful solution that is <span>robust but flexible</span>?
          </li>
          <li class='mt-1'>
            How might we design an <span>easy to use, intuitive, and straightforward </span>
            flow that will empower medical assistants and professionals?
          </li>
          <li class='mt-1'>
            How might we explore and uncover the opportunities that will <span>enhance
            the experience</span> of the clinic?
          </li>
        </p>
      </div>

      <!-- goals -->
      <div class='section col-lg-10 col-sm-12 d-flex flex-column justify-content-center my-5 py-2' data-aos="fade-up" data-aos-duration="1000">
        <h3>Goals</h3>
        <h4 class='pt-2'>Ensuring a better clinic experience</h4>
          <p class='mt-3'>
            My team focused on creating a way for volunteers and medical
            professionals to input and access a digitized version of the
            patient's medical history, diagnoses, medications, treatment
            plans, immunization dates, and more. We went on weekly design
            sprints to finalize on one working prototype. Our goals included:
          </p>
          <li class='mt-1'>
            providing more <span>accurate and legible</span> documentation
          </li>
          <li class='mt-1'>
            granting speedy access to previous medical information to <span>increase
            opportunity for longitudinal care</span>
          </li>
          <li class='mt-1'>
            preventing information from being <span>lost</span>
          </li>
          <li class='mt-1'>
            <span>reducing complexity</span> in the overall clinical process
          </li>
          <img src='../../img/dfa_med/dfa_med_dsgn_sprint.png' class='col-md-8 col-sm-12 mx-3 mt-5 align-self-center'>

      </div>

      <!-- first iteration -->
      <div class='section col-lg-10 col-sm-12 d-flex flex-column justify-content-center my-5 py-2' data-aos="fade-up" data-aos-duration="1000">
        <h3>First Iteration</h3>
        <h4 class='pt-2'>An ideal patient profile experience</h4>
          <p class='mt-3'>
            Without considering the existing application, we brainstormed ways
            that would allow medical professionals at different areas of the
            clinic to be able to use the same EMR app. This was my approach of
            a patient profile that all volunteers at different parts of the
            clinic could use.
          </p>
          <p class='mt-3'>
            I focused on minimizing the amount of screens
            necessary, and ensuring that all users, ranging from receptioninsts to
            doctors, would be able to use the application smoothly. The left
            sidebar not only allows receptioninsts to check in patients, but
            also lets medical professionals easily select patients and see the
            overview of the clinic queue. The main page contains patient
            profiles that enable fast submission of current
            forms, as well as fast retrieval of previous records.
          </p>
          <img src='../../img/dfa_med/wireframe.gif' class='col-md-8 col-sm-12 mx-3 mt-5 align-self-center'>
      </div>

      <!-- prototype-->
      <div class='section col-lg-10 col-md-12 d-flex flex-column justify-content-center my-5 py-2' data-aos="fade-up" data-aos-duration="1000">
        <h3>Final Prototype</h3>
          <p class='mt-3'>
            After consolidating all the ideas from each member's wireframes,
            we settled on one prototype. Some of the changes we made include:
          </p>
          <li class='mt-1'>
            Addition of a sign-in screen for an <span>extra layer of security</span>,
            protecting patient privacy.
          </li>
          <li class='mt-1'>
            Providing four buttons from the home page to mimic the four
            different clinic stations. Users at different stations would
            be able to access important features and information that
            pertains to them with ease.
          </li>
          <li class='mt-1'>
            Compiling an easily accessible patient history
            based on all the previous forms filled out.
          </li>
          <li class='mt-1'>
            Easier forms to fill out with regularized formats and confirmation messages, using switches
            to convert units to avoid confusion.
          </li>
          <li class='mt-1'>
            Automating many processes around the clinic, such as
            lab requests, pharmacy requests, updating the medical inventory,
            calculating and comparing patient BMI, etc.
          </li>
          <p class='mt-3'>
            We returned to IHC and conducted A/B testing of TSE’s old EMR and
            our new high fidelity design. We interviewed four members and
            received positive feedback for our prototype. We made appropriate
            edits to our design, and began coding the application.
          </p>
          <img src='../../img/dfa_med/prototype.gif' class='col-md-8 col-sm-12 mx-3 mt-5 align-self-center'>
      </div>

      <!-- learnings -->
      <div class='section col-lg-10 col-md-12 d-flex flex-column justify-content-center my-5 py-2' data-aos="fade-up" data-aos-duration="1000">
        <h3>Future Plans</h3>
          <p class='mt-3'>
            Future plans include continuous testing in the field and analyzing
            the data to see in what aspects the application can show care
            and be improved. My team and the users plan to stay in contact
            so that the application can flow more efficiently through
            the medical process. We plan on expanding on our idea of
            digitizing the medical database to include more data with
            easier access and more efficient dataflow.
          </p>
      </div>

    </div>


    <!-- button -->
    <div class='button d-flex position-relative justify-content-center pb-3 mb-5' data-aos="fade-up" data-aos-duration="1000">
      <a class='square-button px-4 py-2' href='../../index.html'><h5>MORE PROJECTS</h5></a>
    </div>



    <!-- footer -->
    <footer class="footer mx-auto py-3 text-center position-absolute mt-5 py-5 vw-100" data-aos="fade-up" data-aos-duration="1000">
      <div class='container col-lg-8 col-sm-10 d-flex flex-column justify-content-center'>
        <h6 class='mt-5 mb-1'>I like that final prototypes are still just a prototype-- there's always more room for learning and improvement.</h6>
        <h6 class='mb-3'>Let me know how I can improve.</h6>
        <a class='email mt-3' href='mailto:kap038@ucsd.edu'>kap038@ucsd.edu</a>
        <div class='footer-icons mb-3 mt-2 d-flex align-items-center justify-content-center'>
          <a class='mx-2' href='https://github.com/kyleepeng'>Github</a>
          <span class="dot"></span>
          <a class='mx-2' href='www.linkedin.com/in/kylee-peng'>LinkedIn</a>
          <span class="dot"></span>
          <a class='mx-2' href='mailto:kap038@ucsd.edu'>Email</a>
        </div>
        <h6 class='mb-5 my-3'>Designed & developed with many naps</h6>
      </div>
    </footer>

  </body>

  <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="../../js/script.js"></script>

</html>
