<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Healthcare — Kylee Peng</title>
    <!-- CSS -->
    <link rel="icon" href="../../img/logo_dark.png" type="png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/projects.css">
    <link rel="stylesheet" href="../../css/media_queries.css">
  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-md fixed-top d-flex align-items-center">
      <a class="navbar-brand mr-auto" href='../../index.html'>
        <img src="../../img/logo_dark.svg" class="d-inline-block align-top logo img-responsive ml-2">
      </a>
      <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#dropdown" aria-controls="dropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-grow-0" id="dropdown">
        <div class="navbar-nav text-right">
          <a class="nav-item nav-link m-2" href="../../index.html">Home</a>
          <a class="nav-item nav-link m-2 active" href="../projects.html">Projects<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link m-2" href="../about.html">About</a>
        </div>
      </div>
    </nav>

    <!-- title -->
    <div class="title vh-75 my-5 align-self-center" data-aos="fade-up" data-aos-duration="1000">
      <div class="title-text align-self-center justify-content-center pt-5">
        <h1> </h1>
        <h2>Medical Accessibility in Tijuana</h2>
        <h3>Improving Healthcare through Design</h3>
    </div>
    </div>

    <!-- background -->
    <div class="case-study project-banner d-flex"  data-aos="fade-up" data-aos-duration="1000">
      <div class='section d-flex flex-column my-5 py-2'>
        <h3>Background</h3>
        <p class='mt-3'>
          International Health Collective (IHC) is a student-run organization
          that strives to tackle large issues related to health in the San Diego–Tijuana
          region. On the first Saturday of every month, IHC and medical professionals
          host a pop up clinic in Tijuana to serve families. IHC sees between 30-60
          patients per clinic session and their goal is to provide health services
          in areas such as Tijuana where medical help is scarce.
        </p>
      </div>
        <img src='../../img/proj_dfamedical.png' class='m-3 mb-5 img-responsive'>
    </div>

    <!-- content -->
    <div class='case-study d-flex flex-column justify-self-center align-self-center m5 pb-5'>



      <!-- problem -->
      <div class='section d-flex flex-column my-5 py-2' data-aos="fade-up" data-aos-duration="1000">
        <h3>The Problem</h3>
        <p class='mt-3'>
          Currently, the clinic writes everything down by <span>paper and pen</span>
          due to lack of internet. However, this slows the process and
          <span>delays treating</span> as many patients as possible. If the
          clinic’s goal is to provide as many medical services as possible,
          then we need to have a more effective system.
        </p>
        <div class='images d-flex flex-row justify-content-center'>
          <img src='../../img/dfa_med/dfa_med_clinic.png' class='mx-2 mt-4'>
          <img src='../../img/dfa_med/dfa_med_clinic2.png' class='mx-2 mt-4'>
          <img src='../../img/dfa_med/dfa_med_clinic3.png' class='mx-2 mt-4'>
        </div>
      </div>

      <!-- our role -->
      <div class='section d-flex flex-column my-5 py-2' data-aos="fade-up" data-aos-duration="1000">
        <h3>My Team's Role</h3>
        <p class='mt-3'>
          Our role was to enhance the overall flow of the clinic to help empower
          student assistants and medical professionals. To <span>speed up the clinical
          process</span>, our main objective was to understand the clinic's work and
          how to best digitize this process. We wanted the clinic to <span>treat more
          patients</span> as efficiently as possible, while ensuring a <span>smooth
          transition</span> from paper to tablet.
        </p>
        <p class='mt-3'>
          With a cross collaboration with Triton Software Engineering (TSE) and
          IHC, we decided to build a <span>Electronic Medical Records (EMR)</span> application
          that is to be used on tablets at the clinic. The application will help
          IHC volunteers document the locals’ medical records and will help
          doctors diagnose proper medication. These medical records will
          eventually be stored in a local server due to the lack of internet
          in these communities. Our main goal is to provide medical
          services to people who have <span>barriers to health</span> in unprivileged communities.
        </p>
        <p class='mt-3'>
          <span>My contributions</span> in the project include wireframing and prototyping the
          application, conducting usability tests on the app, and supporting front-end
          development using React-Native.
        </p>
      </div>

      <!-- interviews -->
      <div class='section d-flex flex-column my-5 py-2' data-aos="fade-up" data-aos-duration="1000">
        <h3>Interviews</h3>
          <p class='mt-3'><span>Approach:</span></p>
          <p>
            Before we could dive into the redesign of the current EMR made by TSE,
            we needed to get feedback from IHC clinic volunteers on the look and
            feel of the existing application. We conducted <span>five user interviews</span>,
            each an hour long. We took notes along the way and screen / voice recorded
            each interview. We split up into small groups to tackle the notes from
            each interview and wrote as many insights as we could onto sticky notes.
            Through this process, we were able to identify the main pain points of
            the EMR as well as what users most wanted to see.
          </p>
          <p class='mt-3'>
            Here were the people we interviewed:
          </p>
          <img src='../../img/dfa_med/dfa_med_interviews.png' class='w-75 mx-3 mt-3 align-self-center'>
          <p class='mt-3'><span>Insights:</span></p>
          <p>
            <li class='mt-1'>
              We learned about the unique workflow at each
              clinic and were able to trace out a <span>patient's entire journey</span> from
              check-in to receiving prescriptions.
            </li>
            <li class='mt-1'>
              We empathized with some <span>issues with using paper documents</span>:
              <ul class='pl-md-5 pl-sm-3'>
                <li>documentation is often illegible </li>
                <li>easy to lost files and heavy to transport, </li>
                <li>conversion errors (is a weight of 80 in kilograms or pounds?), </li>
                <li>difficulty in looking up patient histories.</li>
              </ul>
            </li>
            <li class='mt-1'>
              We identified some <span>pain points with the existing application</span>:
              <ul class='pl-md-5 pl-sm-3'>
                <li>triage forms are too long and equally as inefficient to fill in</li>
                <li>ambiguity in what values to enter</li>
                <li>buttons are misleading, people didn't know which page to perform certain vital tasks</li>
                <li>certain features are unnecessary for different roles around the clinic</li>
              </ul>
            </li>
          </p>
      </div>

      <!-- how can we -->
      <div class='section d-flex flex-column my-5 py-2' data-aos="fade-up" data-aos-duration="1000">
        <h3>How Can We..?</h3>
        <p class='mt-3'>
          To solve these problems, my team and I started the design process by
          asking these questions:
          <li class='mt-1'>
            How might we create a meaningful solution that is <span>robust but flexible</span>?
          </li>
          <li class='mt-1'>
            How might we design an <span>easy to use, intuitive, and straightforward </span>
            flow that will empower medical assistants and professionals?
          </li>
          <li class='mt-1'>
            How might we explore and uncover the opportunities that will <span>enhance
            the experience</span> of the clinic?
          </li>
        </p>
      </div>

      <!-- goals -->
      <div class='section d-flex flex-column my-5 py-2' data-aos="fade-up" data-aos-duration="1000">
        <h3>Goals</h3>
          <p class='mt-3'>
            My team focused on creating a way for volunteers and medical
            professionals to input and access a digitized version of the
            patient's medical history, diagnoses, medications, treatment
            plans, immunization dates, and more. We went on weekly design
            sprints to finalize on one working prototype. Our goals included:
          </p>
          <li class='mt-1'>
            providing more <span>accurate and legible</span> documentation
          </li>
          <li class='mt-1'>
            granting speedy access to previous medical information to <span>increase
            opportunity for longitudinal care</span>
          </li>
          <li class='mt-1'>
            preventing information from being <span>lost</span>
          </li>
          <li class='mt-1'>
            <span>reducing complexity</span> in the overall clinical process
          </li>
          <img src='../../img/dfa_med/dfa_med_dsgn_sprint.png' class='sprint w-75 mx-3 mt-5 align-self-center'>

      </div>

      <!-- my wireframes -->
      <div class='section d-flex flex-column my-5 py-2' data-aos="fade-up" data-aos-duration="1000">
        <h3>My Wireframes</h3>
          <p class='mt-3'>
            This was my wireframe of the patient profile page with an improved
            user experience. I focused on <span>minimizing the amount of screens</span>
            necessary, and ensuring that <span>all users</span>, ranging from receptioninsts to
            doctors, would be able to use the application smoothly. The <span>left
            sidebar</span> not only allows receptioninsts to check in patients, but
            also lets medical professionals easily select patients and see the
            overview of the clinic queue. The <span>main page</span> contains patient
            profiles that enable fast submission of current
            forms, as well as fast retrieval of previous records.
          </p>
          <div class='images-grid row justify-content-center'>
            <img src='../../img/dfa_med/wireframe1.png' class='mx-2 mt-5'>
            <img src='../../img/dfa_med/wireframe2.png' class='mx-2 mt-5'>
            <img src='../../img/dfa_med/wireframe3.png' class='mx-2 mt-5 '>
            <img src='../../img/dfa_med/wireframe4.png' class='mx-2 mt-5'>
            <img src='../../img/dfa_med/wireframe5.png' class='mx-2 mt-5'>
          </div>
      </div>

      <!-- prototype-->
      <div class='section d-flex flex-column my-5 py-2' data-aos="fade-up" data-aos-duration="1000">
        <h3>Our Prototype</h3>
          <p class='mt-3'>
            After consolidating all the ideas from each member's wireframes,
            we settled on one prototype. Some of the changes we made include:
          </p>
          <li class='mt-1'>
            Addition of a sign-in screen for an <span>extra layer of security</span>,
            protecting patient privacy.
          </li>
          <li class='mt-1'>
            Providing <span>four buttons</span> from the home page to <span>mimic the four
            different clinic stations</span>. Users at different stations would
            be able to access important features and imformation that
            pertains to them with ease.
          </li>
          <li class='mt-1'>
            Compiling an easily accessible<span>entire patient history</span>
            based on all the previous forms filled out.
          </li>
          <li class='mt-1'>
            Easier forms to fill out with <span>regularized formats</span> and <span>confirmation messages</span>, using switches
            to convert units to avoid confusion.
          </li>
          <li class='mt-1'>
            <span>Automating</span> many processes around the clinic, such as
            lab requests, pharmacy requests, updating the medical inventory,
            calculating and comparing patient BMI, etc.
          </li>
          <p class='mt-3'>
            We returned to IHC and conducted A/B testing of TSE’s old EMR and
            our new high fidelity design. We interviewed four members and
            received <span>positive feedback</span> for our prototype. We made appropriate
            edits to our design, and began coding the application.
          </p>
          <div class='images-grid row justify-content-center'>
            <img src='../../img/dfa_med/prototype1.png' class='mx-1 mt-5'>
            <img src='../../img/dfa_med/prototype2.png' class='mx-1 mt-5'>
            <img src='../../img/dfa_med/prototype3.png' class='mx-1 mt-5 '>
            <img src='../../img/dfa_med/prototype4.png' class='mx-1 mt-5'>
            <img src='../../img/dfa_med/prototype5.png' class='mx-1 mt-5'>
            <img src='../../img/dfa_med/prototype6.png' class='mx-1 mt-5 '>
          </div>
      </div>

      <!-- learnings -->
      <div class='section d-flex flex-column my-5 py-2' data-aos="fade-up" data-aos-duration="1000">
        <h3>Future Plans</h3>
          <p class='mt-3'>
            Future plans include <span>continuous testing</span> in the field and analyzing
            the data to see in what aspects the application can show care
            and be improved. My team and the users plan to stay in contact
            so that the application can flow more efficiently through
            the medical process. We plan on expanding on our idea of
            <span>digitizing the medical database</span> to include more data with
            <span>easier access and more efficient dataflow</span>.
          </p>
      </div>

    </div>


    <!-- button -->
    <div class='button d-flex position-relative justify-content-center pb-3 mb-5' data-aos="fade-up" data-aos-duration="1000">
      <a class='square-button px-4 py-2' href='../projects.html'>SEE ALL PROJECTS</a>
    </div>



    <!-- footer -->
    <footer class="footer mx-auto py-3 text-center position-absolute mt-5 py-5 vw-100" data-aos="fade-up" data-aos-duration="1000">
      <div class='container col-lg-8 col-sm-10 d-flex flex-column justify-content-center'>
        <h6 class='mt-5 mb-2'>The iterative nature of design has taught me that there’s never a finished product— only a work in progress.</h6>
        <h6 class='mb-3'>Let me know how I can improve on my work.</h6>
        <a class='email mt-3' href='mailto:kap038@ucsd.edu'>kap038@ucsd.edu</a>
        <div class='footer-icons mb-3 mt-2 d-flex align-items-center justify-content-center'>
          <a class='mx-2' href='https://github.com/kyleepeng'>Github</a>
          <span class="dot"></span>
          <a class='mx-2' href='www.linkedin.com/in/kylee-peng'>LinkedIn</a>
          <span class="dot"></span>
          <a class='mx-2' href='mailto:kap038@ucsd.edu'>Email</a>
        </div>
        <h6 class='mb-5 my-3'>Designed & developed by Kylee Peng</h6>
      </div>
    </footer>

  </body>

  <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="../../js/script.js"></script>

</html>
