<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Illustrations — Kylee Peng</title>
    <!-- CSS -->
    <link rel="icon" href="../../img/logo_dark.png" type="png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/media_queries.css">
  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand fixed-top d-flex align-items-center">
      <a class="navbar-brand mr-auto" href='../../index.html'>
        <img src="../../img/logo_dark.svg" class="d-inline-block align-top logo img-responsive ml-2">
      </a>
      <div class="navbar-nav text-right">
          <a class="nav-item nav-link m-2 active" href="../../index.html">Home</a>
          <a class="nav-item nav-link m-2" href="../about.html">About<span class="sr-only">(current)</span></a>
      </div>
    </nav>


    <!-- title -->
    <div class="proj-title container" data-aos="fade-up" data-aos-duration="1000">
      <div class="title-text my-5 pt-5">
        <h1> </h1>
        <h2>Design for San Diego</h2>
        <h4><span id='highlight' class='pt-3'>Vector Illustrations of San Diego's Challenges</span></h4>
    </div>
    </div>

    <!-- background -->
    <div class="container background project-banner"
     style="background-color: #f1eeff; box-shadow: 10px 10px #dfd8ff;"
     data-aos="fade-up"
     data-aos-duration="1000">
     <div class='row'>
      <div class='d-flex flex-column col-10 my-5 py-2'>
        <h3>Background</h3>
        <p class='mt-3'>
          I currently work at UCSD's Design Lab on the Design for San Diego
          initiative. We're creating a submittion and feedback exchange platform
          for all the participants, which is my main project. Unfortunately, I
          can't disclose details yet, but I'd be happy to show you more in person.
        </p>
        <p class='mt-3'>
          I also contribute by making illustrations for our
          <a href='https://www.d4sd.org'>landing page</a>.
          Below are some of my work.
        </p>
      </div>
      </div>
    </div>

    <!-- content -->
    <div class='container d-flex flex-column align-items-center'>

      <!-- home -->
      <div class='section col-lg-10 col-sm-12 d-flex flex-column justify-content-center my-5 py-2' data-aos="fade-up" data-aos-duration="1000">
        <h3>San Diego</h3>
        <img src='../../img/illustrations/home.png' class='col-md-10 col-sm-12 mt-5 align-self-center'>
        <img src='../../img/illustrations/home2.svg' class='col-md-10 col-sm-12 mt-5 align-self-center'>
      </div>

      <!-- climate -->
      <div class='section col-lg-10 col-sm-12 d-flex flex-column justify-content-center my-5 py-2' data-aos="fade-up" data-aos-duration="1000">
        <h3>Climate</h3>
        <img src='../../img/illustrations/climate.png' class='col-md-10 col-sm-12 mt-5 align-self-center'>
      </div>

      <!-- housing -->
      <div class='section col-lg-10 col-sm-12 d-flex flex-column justify-content-center my-5 py-2' data-aos="fade-up" data-aos-duration="1000">
        <h3>Housing</h3>
          <img src='../../img/illustrations/housing.png' class='col-md-10 col-sm-12 mt-5 align-self-center'>
      </div>

      <!-- mobility -->
      <div class='section col-lg-10 col-sm-12 d-flex flex-column justify-content-center my-5 py-2' data-aos="fade-up" data-aos-duration="1000">
        <h3>Mobility</h3>
        <img src='../../img/illustrations/mobility.png' class='col-md-10 col-sm-12 mt-5 align-self-center'>
      </div>

      <!-- health -->
      <div class='section col-lg-10 col-sm-12 d-flex flex-column justify-content-center my-5 py-2' data-aos="fade-up" data-aos-duration="1000">
        <h3>Health</h3>
        <img src='../../img/illustrations/health2.svg' class='col-md-10 col-sm-12 mt-5 align-self-center'>
      </div>

      <!-- About -->
      <div class='section col-lg-10 col-sm-12 d-flex flex-column justify-content-center my-5 py-2' data-aos="fade-up" data-aos-duration="1000">
        <h3>D4SD</h3>
        <img src='../../img/illustrations/about.png' class='col-md-10 col-sm-12 mt-5 align-self-center'>
      </div>

    </div>


    <!-- button -->
    <div class='button d-flex position-relative justify-content-center pb-3 mb-5' data-aos="fade-up" data-aos-duration="1000">
      <a class='square-button px-4 py-2' href='../../index.html'><h5>MORE PROJECTS</h5></a>
    </div>


    <!-- footer -->
    <footer class="footer mx-auto py-3 text-center position-absolute mt-5 py-5 vw-100" data-aos="fade-up" data-aos-duration="1000">
      <div class='container col-lg-8 col-sm-10 d-flex flex-column justify-content-center'>
        <h6 class='mt-5 mb-1'>I like that final prototypes are still just a prototype-- there's always more room for learning and improvement.</h6>
        <h6 class='mb-3'>Let me know how I can improve.</h6>
        <a class='email mt-3' href='mailto:kap038@ucsd.edu'>kap038@ucsd.edu</a>
        <div class='footer-icons mb-3 mt-2 d-flex align-items-center justify-content-center'>
          <a class='mx-2' href='https://github.com/kyleepeng'>Github</a>
          <span class="dot"></span>
          <a class='mx-2' href='www.linkedin.com/in/kylee-peng'>LinkedIn</a>
          <span class="dot"></span>
          <a class='mx-2' href='mailto:kap038@ucsd.edu'>Email</a>
        </div>
        <h6 class='mb-5 my-3'>Designed & Developed with many naps by Kylee Peng</h6>
      </div>
    </footer>

  </body>

  <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="../../js/script.js"></script>

</html>
