<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Noms — Kylee Peng</title>
    <!-- CSS -->
    <link rel="icon" href="../../img/logo_dark.png" type="png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/media_queries.css">
  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand fixed-top d-flex align-items-center">
      <a class="navbar-brand mr-auto" href='../../index.html'>
        <img src="../../img/logo_dark.svg" class="d-inline-block align-top logo img-responsive ml-2">
      </a>
      <div class="navbar-nav text-right">
          <a class="nav-item nav-link m-2 active" href="../../index.html">Home</a>
          <a class="nav-item nav-link m-2" href="../about.html">About<span class="sr-only">(current)</span></a>
      </div>
    </nav>


    <!-- title -->
    <div class="proj-title container" data-aos="fade-up" data-aos-duration="1000">
      <div class="title-text my-5 pt-5">
        <h1> </h1>
        <h2>Noms</h2>
        <h4><span id='highlight' class='pt-3'>Easy Cooking for Specific Diets</span></h4>
    </div>
    </div>

    <!-- background -->
    <div class="container background project-banner"
     style="background-color: #f0f8ff; box-shadow: 10px 10px #b4deff;"
     data-aos="fade-up"
     data-aos-duration="1000">
     <div class='row'>
      <div class='d-flex flex-column col-md-7 col-sm-11 my-5 py-2'>
        <h3>Background</h3>
        <p class='mt-3'>
          Noms is an app that was created in an interaction design course
          within 10 weeks. I worked with a UI designer and a front-end developer
          to create a prototype that facilitates easy recipe finding for
          users with specific diets, receiving positive feedback from all of
          our test subjects. My role as a product designer in
          the project consisted of interviewing, wireframing,
          prototyping, user testing, and some front-end development.
        </p>
      </div>
        <img src='../../img/noms/noms_mockup.png' class='col-md-5 col-sm-11 mt-2 img-responsive'>
      </div>
    </div>

    <!-- content -->
    <div class='container d-flex flex-column align-items-center'>

      <!-- understanding the problem -->
      <div class='section col-lg-10 col-sm-12 d-flex flex-column justify-content-center my-5 py-2' data-aos="fade-up" data-aos-duration="1000">
        <h3>Understanding Dietary Restrictions</h3>
        <h4 class='pt-2'>Restrictive eating has its costs</h4>
        <p class='mt-3'>
          We interviewed some people with strict diets about their
          experiences with finding recipes and cooking in the kitchen.
          Here are some major pain points:
            <ul class='pl-md-5 pl-sm-3 mt-1'>
              <li>Some found it embarrassing or inconvenient to eat out with friends</li>
              <li>There's a risk of cross contamination in other kitchens</li>
              <li>Checking ingredient labels for packaged foods is tedious</li>
              <li>It's difficult to adopt to the new diet and find a variety of food options at first</li>
              <li>Finding diverse recipes was difficult, but there are many replacement options available </li>
            </ul>
        </p>
      </div>

      <!-- the problem -->
      <div class='section col-lg-10 col-sm-12 d-flex flex-column justify-content-center my-5 py-2' data-aos="fade-up" data-aos-duration="1000">
        <h3>The Problem</h3>
        <p class='mt-3'>
          Individuals with dietary restrictions do not eat and cook with the
          same level of ease and comfort as those without dietary restrictions.
        </p>
      </div>

      <!-- Ideating-->
      <div class='section col-lg-10 col-sm-12 d-flex flex-column justify-content-center my-5 py-2' data-aos="fade-up" data-aos-duration="1000">
        <h3>Ideating</h3>
          <p class='mt-3'>
            We came up with two app ideas to allow those with dietary
            restrictions to eat and cook more comfortably.
          </p>
          <p class='mt-3'><span>(1) Shared Pantry:</span></p>
          <p>
            Users would request and obtain ingredients
            from other users in the same area. Users would be able
            to obtain specific ingredients that they might need while meeting
            new friends with similar diets, share cooking insights, and gain a
            diet-friendly community.
          </p>
          <p class='mt-3'><span>(2) Recipe Conversions:</span></p>
          <p>
            Users would be able to find recipes without worrying about dietary
            constraints. The app would convert certain ingredients to their
            respective replacement options for each diet.
          </p>
      </div>

      <!-- first iteration -->
      <div class='section col-lg-10 col-sm-12 d-flex flex-column justify-content-center my-5 py-2' data-aos="fade-up" data-aos-duration="1000">
        <h3>First Iteration</h3>
        <h4 class='pt-2'>Converting Ingredients for Diet-friendly users</h4>
        <p class='mt-3'>
          The shared pantry idea relies too heavily on users to be proactive in sharing
          ingredients. The vision was too optimistic to carry out--
          not many people would willingly offer up their ingredients.
        </p>
        <p class='mt-3'>
          We created Noms, a cooking app that allows home cooks to
          swap ingredients to create new recipes catered
          to their specific diets. Like a traditional cooking app, Noms
          allows cooks to discover recipes and follow along its steps, but through
          a convenient click of a button, those cooking with dietary
          restrictions can now also enjoy the same recipes with alternate ingredients.
        </p>
        <img src='../../img/noms/noms_first_iter.png' class='col-md-10 col-sm-12 mx-3 mt-5 align-self-center'>
      </div>

      <!-- user testing -->
      <div class='section col-lg-10 col-sm-12 d-flex flex-column justify-content-center my-5 py-2' data-aos="fade-up" data-aos-duration="1000">
        <h3>User Testing</h3>
        <h4 class='pt-2'>Realistically, is our prototype usable?</h4>
          <p class='mt-3'>
            To ensure that our designs were usable, we asked our users to complete
            a series of tasks that revealed how they would interact with our app's
            different features. We tested three home cooks of different skill
            levels who cook for a specific diet.
          </p>
          <img src='../../img/noms/noms_usertesting.png' class='col mt-1 align-self-center'>
          <p class='mt-3'>
            We obtained positive feedback— all three of our users thought
            that Noms is an interesting idea that allowed people of different
            diets to have a centralized location for recipes. However, we did notice three
            big usability errors in our prototype.
          </p>
      </div>

      <!-- redesign -->
      <div class='section col-lg-10 col-sm-12 d-flex flex-column justify-content-center my-5 py-2' data-aos="fade-up" data-aos-duration="1000">
        <h3>Redesign 1: Favorites Icon</h3>
        <h4 class='pt-3'>Original: Star Icon, No feedback</h4>
          <p class='mt-1'>
            All three users found that the favorites button, or the star icon,
            was confusing.
          </p>
          <img src='../../img/noms/noms_redesign1.png' class='col mt-1 align-self-center'>

        <h4 class='pt-2'>Redesign: Heart Icon, More feedback</h4>
          <p class='mt-1'>
            We decided to change the star icon to a heart icon to reflect the
            idea of “favorite recipes” better. Most people correlate “favorite”
            to having positive and strong feelings for something, and this is
            typically represented through a heart shape.
          </p>
          <img src='../../img/noms/noms_redesign_fix1.png' class='col mt-1 align-self-center'>

          <h3 class='mt-3'>Redesign 2: Marking a Recipe as Complete</h3>
          <h4 class='pt-3'>Original: Couldn't complete until each step was completed.</h4>

          <p class='mt-1'>
            Two out of three users didn’t complete the actual recipe by
            going through each and every step.
          </p>
          <img src='../../img/noms/noms_redesign2.png' class='col mt-1 align-self-center'>
          <h4 class='pt-3'>Redesign: Call to action on the recipe page itself.</h4>
          <p class='mt-1'>
            We speculate that this issue was because home cooks of
            different skill levels need different levels of guidance
            in terms of recipes. Those with more experience can complete
            a recipe with no extra help, but for inexperienced cooks, visual
            aids through each step would make the process a lot smoother.
          </p>
          <img src='../../img/noms/noms_redesign_fix2.png' class='col mt-1 align-self-center'>

          <h3 class='mt-3'>Redesign 3: Finding a recipe</h3>
          <h4 class='pt-3'>Original: Card design, a lot of scrolling</h4>
          <p class='mt-1'>
            All of the users scrolled for a while to see all the
            recipes before choosing a recipe on the home page.
          </p>
          <img src='../../img/noms/noms_redesign3.png' class='col-8 mt-1 align-self-center'>
          <h4 class='pt-3'>Redesign: Grid design, less scrolling</h4>
          <p class='mt-1'>
            To fix this issue, we changed the layout of our home page to
            declutter it. We simplified the recipe cards, giving just
            enough information for users to want to click into it. After
            clicking into each card, then we displayed more information
            about the recipe.
          </p>
          <img src='../../img/noms/noms_redesign_fix3.png' class='col mt-1 align-self-center'>

      </div>

      <!-- a/b testing-->
      <div class='section col-lg-10 col-sm-12 d-flex flex-column justify-content-center my-5 py-2' data-aos="fade-up" data-aos-duration="1000">
        <h3>A/B Testing</h3>
        <h4 class='pt-2'>Card vs Grid design</h4>

          <p class='mt-3'>
            Some users complained about the amount of scrolling, so we came up
            with a grid design for the recipes on the home page. However,
            we weren’t too confident in the redesign— How do we want users
            to search for specific recipes? We wanted to compare the two
            versions of the home page:
          </p>
          <p class='mt-3'><span>Version 1: Card design</span></p>
          <img src='../../img/noms/noms_versiona.png' class='col mt-1 align-self-center'>

          <p class='mt-3'><span>Version 2: Grid design</span></p>
          <img src='../../img/noms/noms_versionb.png' class='col mt-1 align-self-center'>

          <p>
            Search with a filter, choosing between different diets, favorite
            recipes, and/or completed recipes. Recipes are displayed in a
            grid, where many more recipes are shown at once.
          </p>
          <p class='mt-3'>
            From our chi-square test and informal feedback, we learned:
          </p>
          <li class='mt-1'>
            Users prefer the grid layout in version 2 since it requires <span>less
            scrolling</span> and gave users <span>more control</span> over what they saw
          </li>
          <li class='mt-1'>
            Users spent <span>less time</span> to complete the task in version 2
          </li>
          <li class='mt-1'>
            On average, users clicked more pages in version 1, likely because
            they <span>clicked the wrong recipes</span>
          </li>
          <li class='mt-1'>
            The search bar in version 1 was <span>not comprehensive enough</span>. Users
            typed “vegan brownie” and it came up with no results
          </li>
          <li class='mt-1'>
            Users preferred having a search bar to search for specific
            ingredients or recipes <span>faster</span>
          </li>
      </div>

      <!-- final prototype -->
      <div class='section col-lg-10 col-sm-12 d-flex flex-column justify-content-center my-5 py-2' data-aos="fade-up" data-aos-duration="1000">
        <h3>Final Prototype</h3>
        <h4 class='pt-2'>The Best of Both Worlds</h4>
          <p class='mt-3'>
            Through our tests and informal feedback, we decided to <span>combine the
            two options</span>. We would incorporate a search bar and a filter option
            while displaying the recipes in a grid format. We hope that this
            version would reduce the chance of error of clicking into a wrong
            recipe, while ensuring that users can find recipes more efficiently.
          </p>
          <img src='../../img/noms/prototype.gif' class='col-md-4 col-sm-5 col-xs-6 mx-3 mt-5 align-self-center'>

          <p class='mt-3'>
            At the poster session, our team received an award for <span>Best
            Problem Statement</span>. We also received valuable feedback from
            design professionals about our project.
          </p>
      </div>

      <!-- future plans -->
      <div class='section col-lg-10 col-sm-12 d-flex flex-column justify-content-center my-5 py-2' data-aos="fade-up" data-aos-duration="1000">
        <h3>Future Plans</h3>
          <p class='mt-3'>
            Future plans involve conducting <span>more tests on a different user
            base</span>. It was brought to our attention that some older users who
            struggle with diabetes might prefer to see nutritional information
            or prefer a bigger card layout. Conducting additional tests on
            senior users or people with different dietary restrictions would
            allow us to make Noms more friendly for its appropriate user group.
          </p>
      </div>

    </div>


    <!-- button -->
    <div class='button d-flex position-relative justify-content-center pb-3 mb-5' data-aos="fade-up" data-aos-duration="1000">
      <a class='square-button px-4 py-2' href='../../index.html'><h5>MORE PROJECTS</h5></a>
    </div>


    <!-- footer -->
    <footer class="footer mx-auto py-3 text-center position-absolute mt-5 py-5 vw-100" data-aos="fade-up" data-aos-duration="1000">
      <div class='container col-lg-8 col-sm-10 d-flex flex-column justify-content-center'>
        <h6 class='mt-5 mb-1'>I like that final prototypes are still just a prototype-- there's always more room for learning and improvement.</h6>
        <h6 class='mb-3'>Let me know how I can improve.</h6>
        <a class='email mt-3' href='mailto:kap038@ucsd.edu'>kap038@ucsd.edu</a>
        <div class='footer-icons mb-3 mt-2 d-flex align-items-center justify-content-center'>
          <a class='mx-2' href='https://github.com/kyleepeng'>Github</a>
          <span class="dot"></span>
          <a class='mx-2' href='www.linkedin.com/in/kylee-peng'>LinkedIn</a>
          <span class="dot"></span>
          <a class='mx-2' href='mailto:kap038@ucsd.edu'>Email</a>
        </div>
        <h6 class='mb-5 my-3'>Designed & developed with many naps</h6>
      </div>
    </footer>

  </body>

  <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="../../js/script.js"></script>

</html>
